.spin {
  animation: rotate-center 0.8s linear infinite;
  height: 28px;
  width: 28px;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
